/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define home_layer 0
#define first_layer 1
#define second_layer 2
#define third_layer 3

&mt {
    tapping-term-ms = <300>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        home_layer {
            bindings = <                                                  &none &kp Q &kp W &kp F &kp P &kp B              &kp J &kp L &kp U &kp Y &kp LCTRL &none
                                                                          &none &kp A &kp R &kp S &kp T &kp G              &kp M &kp N &kp E &kp I &kp O &none 
                                                                      &none &kp LCTRL &kp X &kp C &kp D &kp V              &kp K &kp H &kp TAB &kp RIGHT_ALT &kp ESC &none
                                                                                   &kp LSHIFT &mo 2 &kp SPACE              &kp BACKSPACE &mo 1 &kp RET>;
        };

        first_layer {
            bindings = < &none &kp LESS_THAN &kp LEFT_BRACKET &kp LEFT_PARENTHESIS &kp LEFT_BRACE &kp PERCENT              &kp DOLLAR &kp RIGHT_BRACE &kp RIGHT_PARENTHESIS &kp RIGHT_BRACKET &kp GREATER_THAN &none
                                             &none &kp AMPERSAND  &kp MINUS &kp APOSTROPHE &kp COLON &kp PLUS              &kp ASTERISK &kp SEMI &kp AT_SIGN &kp UNDERSCORE &kp PIPE2 &none
                                               &none &kp Z &kp DOUBLE_QUOTES &kp SLASH &kp EQUAL &kp QUESTION              &kp EXCLAMATION &kp NON_US_HASH &kp NON_US_BACKSLASH &kp GRAVE &kp TILDE2 &none
                                                                                  &kp COMMA &kp DOT &kp SPACE              &kp BACKSPACE &none &none>;
        };

        second_layer {
            bindings = <                                       &none &kp HOME &kp CARET &kp F5 &kp F11 &kp F7              &kp LSHIFT &kp N1 &kp N2 &kp N3 &kp END &none
                               &none &kp PRINTSCREEN &kp LEFT_ARROW &kp UP_ARROW &kp RIGHT_ARROW &kp C_VOL_UP              &kp N0 &kp N4 &kp N5 &kp N6 &kp LWIN &none
                                                 &none &kp LS(Z) &kp TILDE &kp DOWN_ARROW &kp F4 &kp C_VOL_DN              &kp PG_DN &kp N7 &kp N8 &kp N9 &kp PG_UP &none
                                                                                        &none &none &kp SPACE              &kp BACKSPACE &none &kp RET>;
        };
    };
};
